<div class="container">
    <h1>Orders</h1>
    <table>
        <tr>
          <form class="form-group" id='search_people' action='' method=''>
          <!--- this form does not submit directly, the button handles all the interaction with backend -->
              <label> Search for orders by last name:</label>
              <input id='search_string' class="form-control" type='text' name='search_string' value=''>
              <input type="button" class="btn btn-primary" value="Search" onclick="searchOrdersByName()">
          </form>
          <td>&nbsp;</td>
        </tr>
        <tr >
          <th>Order #</th>
          <th>Name</th>
          <th>Total</th>
        </tr>
    {{#each invoices}}
        <tr>
          <td>{{orderid}}</td>
          <td  >{{firstname}} {{lastname}} </td>
          <td  class="money">{{total}}</td>
          
          <td><button class="btn btn-primary" onclick="deleteOrder({{orderid}})">Delete</button></td>
          <td><a href="/invoices/{{orderid}}">Update</a></td>
                    <!-- Button trigger modal -->
          <td><a href="/invoices/view/{{orderid}}">View Order</a></td>    

        </tr>

        {{/each}}
        <script>
          function searchOrdersByName() {
          console.log("searchOrdersByName()");
          var search_string  = document.getElementById('search_string').value
          //construct the URL and redirect to it
          window.location = '/invoices/search/' + encodeURI(search_string)
}
        </script>