<div class="container">
    <h1>Orders</h1>
    <table>
        <tr>
          <form class="form-group" id='search_people' action='' method=''>
          <!--- this form does not submit directly, the button handles all the interaction with backend -->
              <label> Search for orders by last name:</label>
              <input id='search_string' class="form-control" type='text' name='search_string' value=''>
              <input type="button" class="btn btn-primary" value="Search" onclick="searchOrdersByName()">
          </form>
          <td>&nbsp;</td>
        </tr>
        <tr >
          <th>Order #</th>
          <th>Name</th>
          <th>Total</th>
        </tr>
    {{#each invoices}}
        <tr>
          <td>{{orderid}}</td>
          <td  >{{firstname}} {{lastname}} </td>
          <td  class="money">{{price}}</td>
          
          <td><button type="submit" class="btn btn-primary">Delete</button></td>
                    <!-- Button trigger modal -->
          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orderModal{{orderid}}">
          View Order
          </button></td>

<!-- Modal -->
<div class="modal fade" id="orderModal{{orderid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">{{orderid}} {{firstname}} {{lastname}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{modelyear}} {{brandname}} {{model}} {{price}}</p>
        <p>Tax: {{tax}}</p>
        <p>Total: {{total}}</script></p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
        </tr>

        {{/each}}
        <script>
          function searchOrdersByName() {
          console.log("searchOrdersByName()");
          var search_string  = document.getElementById('search_string').value
          //construct the URL and redirect to it
          window.location = '/invoices/search/' + encodeURI(search_string)
}
        </script>