<div class="container">
  <h1>Create an Order</h1>
  <p id="orderInstructions" class="showHide">Select Date and Customer and press "Begin Order".</p>
  <input type="hidden" id="order_number" value="{{next_order}}" class="hidden"></input>
  <form id="addOrder">
    <div class="row showHide" id="staticFields">

      <div class="form-group col-sm-6 col-md-4 col-lg-3">
        <label for="date">Date</label>
        <input style="max-width: 200px;" type="date" name="date" class="form-control" id="dateSelect" placeholder="Date">

      </div>
      <div class="form-group col-sm-6 col-md-4 col-lg-3">
        <label for="customer">Customer</label>
        <select class="form-control" id="nameSelect" onChange="convertToName(this);">
          <option name="NULL">Select Customer</option>
          {{#each customers}}
            <option value="{{customerid}}" data-name="{{firstname}} {{lastname}}">{{firstname}} {{lastname}}</option>
          {{/each}}
        </select>

      </div>
      <div class="form-group col-sm-12">
        <div id="startButton" onclick="startOrder()" class="showHide btn btn-primary">Begin Order</div>
      </div>
    </div>

    <div class="row hidden hideShow" id="addFields">
      <div class="col-sm-12">
        <p class="mt-4">Select Vehicle, add relevant notes, and click "Add to Order."<br>
          Repeat to add more than one product.</p>
      </div>
      <div class="form-group col-sm-6">
        <label for="vehicle">Vehicle</label>
        <select class="form-control" name="vehicle" id="selectVehicle">
          <option>Select Vehicle</option>
          {{#each vehicles}}
          <option name="{{productid}}" data-modelyear="{{modelyear}}" data-brandname="{{brandname}}" data-model="{{model}}" data-price="{{price}}">{{modelyear}} {{brandname}} {{model}} {{price}}   
          </option>
          {{/each}}
        </select>
      </div>
      {{!-- <div class="form-group col-sm-6 col-md-4 col-lg-3">
        <label for="brand">Year</label>
        <select class="form-control" name="year" id="selectYear">
          <option>Select Year</option>
          {{#each years}}
            <option name="{{modelyear}}">{{modelyear}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group col-sm-6 col-md-4 col-lg-3">
        <label for="brand">Brand</label>
        <select class="form-control" name="brand" id="selectBrand">
          <option>Select Brand</option>
          {{#each brands}}
            <option name="{{brandid}}">{{brandname}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group col-sm-6 col-md-4 col-lg-3">
        <label for="model">Model</label>
        <select class="form-control" name="model" id="selectModel">
          <option>Select Model</option>
          {{#each models}}
            <option name="{{model}}" data-price="{{price}}">{{model}}</option>
          {{/each}}
        </select>
      </div> --}}
    </div>
    <div class="row hidden hideShow" id="notesField">
      <div class="form-group col-sm-6">
        <label for="notesArea">Notes</label>
        <textarea class="form-control" id="notesArea" rows="3"></textarea>
      </div>
      <div class="form-group col-sm-12">
        <div id="addButton" onclick="addToOrder()" class="hidden hideShow btn btn-primary">Add to Order</div>
      </div>
  </form>
</div>
<div class="hidden">
  <div id="p-modelyear">asdf</div>
  <div id="p-brandname">asdf</div>
  <div id="p-model">asdf</div>
  <div id="p-price">asdf</div>
</div>
<div class="row">
  <div class="col-sm-8">
    <form id="submitOrder" action ="/order" method = "POST">
    <table id="orderTable">
      <tr>
        <th>Order #:</th>
        
        <td id="orderNumber" ></td>
        <input type="hidden" id="order_number_input" name="order_number" />
        <th>Date:</th>
        <td id="orderDate"  > </td>
        <input type="hidden" id="order_date_input" name="date"/>
        <th>Name:</th>
        <td id="customerName"  > </td>
        
        <th>ID:</th>
        <td id="customerId"  > </td>
        <input type="hidden" id="customer_id_input" name="customerid">
      </tr>
      <tr>
        <th>Year</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Price</th>
        <th></th>
        <th></th>
      </tr>
    </table>
  </div>

  <div class="col-sm-4">
    <table>
      <tr>
        <th>Tax:</th>
      </tr>
      <tr>
        <input type="hidden" id="price_input" name="price"/>
        <td id="tax" name="tax"></td>
        <input type="hidden" id="tax_input" name="tax"/>
      </tr>
      <tr>
        <th>Total:</th>
      </tr>
      <tr>
        <td id="total" name="total"></td>
        <input type="hidden" id="total_input" name="total" />
      </tr>
    </table>
  </div>

  <div class="form-group col-sm-12">
    <input type="submit" value="Submit Order" id="submitButton" class="hidden hideShow btn btn-primary mt-4">
  </div>
</form>
</div>
</div>
<script>
  
  document.getElementById('selectVehicle').onchange = (event) => {
  var modelyear = event.target.options[event.target.selectedIndex].dataset.modelyear;
  var brandname = event.target.options[event.target.selectedIndex].dataset.brandname;
  var model = event.target.options[event.target.selectedIndex].dataset.model;
  var price = event.target.options[event.target.selectedIndex].dataset.price;
  document.getElementById('p-modelyear').value = modelyear;
  document.getElementById('p-brandname').value = brandname;
  document.getElementById('p-model').value = model;
  document.getElementById('p-price').value = price;
  console.log(`${modelyear} ${brandname} ${model} : ${price}`);
}
</script>