<div class="container"><div class="row"
<h1>Update {{customer.firstname}} {{customer.lastname}}:</h1>
<form class="form-group" id="update-customer" action="/customers" method="put">
    First name: <input class="form-control" type="text" name="firstname" value="{{customer.firstname}}"><br>
    Last name: <input class="form-control" type="text" name="lastname" value="{{customer.lastname}}"><br>
    Email: <input class="form-control" type="email" name="email" value="{{customer.email}}"><br>
    Street Address: <input class="form-control" type="text" name="street_address" value="{{customer.street_address}}"><br>
    City: <input class="form-control" type="text" name="city" value="{{customer.city}}"><br>
    State: <input class="form-control" type="text" name="state" value="{{customer.state}}"><br>
    Zip: <input class="form-control" type="text" name="zip" value="{{customer.zip}}"><br>

    <button class="btn btn-primary" onclick="updateCustomer({{customer.customerid}})">Update</button>
   
</form>
</div></div>