<div class="container"><div class="row">

<h1>Update Order Number {{order.orderid}} for {{order.lastname}}, {{order.firstname}}</h1>
<form id="update-order" class="form-group" action="/invoices" method="put">

    Price: <input class="form-control" type="number" name="price" value="{{order.price}}"><br>
    Tax: <input class="form-control" type="number" name="tax" value="{{order.tax}}"><br>
    Total: <input class="form-control" type="number" name="total" value="{{order.total}}"><br>
    

    <button class="btn btn-primary" onclick="updateOrder({{order.orderid}})">Update</button>
    <button class="btn btn-primary" onclick="updateOrdernull({{order.orderid}})">Update and Remove Order from Customer</button>
   
</form>

</div></div>

